@using data.Model
@model List<Clanek>

@section main{
    <div class="background">
    <h1>Aktuality</h1>
</div>
}

@section dropdown{

    <li><a href="@Url.Action("Pridat", "Clanky")">Přidat článek</a></li>
    <li><a href="@Url.Action("Seznam","Clanky")">Seznam Článků</a></li>
}




<div class="container-clanky">
@foreach (Clanek cl in Model)
{

    <div class="items">
        <h2>@cl.nazev</h2>
        @if (cl.text.Count() > 350)
        {
            cl.text = cl.text.Substring(0, 350);
            cl.text = cl.text.Trim();
            if (cl.text.Contains(" "))
            {
                cl.text = cl.text.Remove(cl.text.LastIndexOf(" "));
            }


        }
         
        <p>@Html.Raw(cl.text) </p>
        <a class="btn btn-default" id="detail_cl" href="@Url.Action("Detail","Clanky",new {id=cl.id })" role="button">Číst dále &raquo;</a>
    </div><!--/.col-xs-6.col-lg-4-->

}
    </div>

