@using data.Model
@model List<Clanek>

@section main{
   
    <h1>Aktuality</h1>

}

@section adminMenu{

<a href="@Url.Action("Index","Home")" class="list-group-item active">Aktuality</a>
<a href="@Url.Action("Pridat","Clanky")" class="list-group-item">Přidat článek</a>
<a href="@Url.Action("Seznam","Clanky")" class="list-group-item">Seznam článků</a>

}



<div class="container-clanky">
@foreach (Clanek cl in Model)
{

    <div class="items">
        <h2>@cl.nazev</h2>
        @if (cl.text.Count() > 350)
        {
            cl.text = cl.text.Substring(0, 350);
            cl.text = cl.text.Trim();
            if (cl.text.Contains(" "))
            {
                cl.text = cl.text.Remove(cl.text.LastIndexOf(" "));
            }


        }
         
        <p>@Html.Raw(cl.text) </p>
        <a class="btn btn-default" id="detail_cl" href="@Url.Action("Detail","Clanky",new {id=cl.id })" role="button">Číst dále &raquo;</a>
    </div><!--/.col-xs-6.col-lg-4-->

}
    </div>

