@using data.Model
@model Clanek

@{
    ViewBag.Title = "Index";

}

@section main{

    <h1>Přidat článek</h1>
}

@section dropdown{

    <li><a href="@Url.Action("Pridat", "Clanky")">Přidat článek</a></li>
    <li><a href="@Url.Action("Seznam","Clanky")">Seznam Článků</a></li>
}


@using (Html.BeginForm("Pridej", "Clanky", FormMethod.Post))
{

    <div class="form-group">
        <label>Název článku</label>
        <span id="helpBlock2" class="help-block ">
            @Html.ValidationMessageFor(x => x.nazev,"",new {@class= "text-danger" })
            </span>

            @Html.TextBoxFor(x => x.nazev, new { @class = "form-control" })

</div>

    <div class="form-group">
        <label>Obsah </label>

        <span id="helpBlock2" class="help-block ">
            @Html.ValidationMessageFor(x => x.text, "", new { @class = "text-danger" })
        </span>
           
    
        @Html.TextAreaFor(x => x.text, new { @class = "form-control formated-text" })

    </div>


    <button type="submit" class="btn btn-default btn-lg">Vložit</button>


}


<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>tinymce.init({ selector: '.formated-text' });</script>

